/*! normalize.scss v0.1.0 | MIT License | based on git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
   * Remove default margin.
   */
body {
  margin: 0;
}

/* HTML5 display definitions
     ========================================================================== */
/**
   * Correct `block` display not defined for any HTML5 element in IE 8/9.
   * Correct `block` display not defined for `details` or `summary` in IE 10/11
   * and Firefox.
   * Correct `block` display not defined for `main` in IE 11.
   */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
   * 1. Correct `inline-block` display not defined in IE 8/9.
   * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
   */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
   * Prevent modern browsers from displaying `audio` without controls.
   * Remove excess height in iOS 5 devices.
   */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
   * Address `[hidden]` styling not present in IE 8/9/10.
   * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
   */
[hidden],
template {
  display: none;
}

/* Links
     ========================================================================== */
/**
   * Remove the gray background color from active links in IE 10.
   */
a {
  background-color: transparent;
}

/**
   * Improve readability when focused and also mouse hovered in all browsers.
   */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
     ========================================================================== */
/**
   * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
   */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
   * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
   */
b,
strong {
  font-weight: bold;
}

/**
   * Address styling not present in Safari and Chrome.
   */
dfn {
  font-style: italic;
}

/**
   * Address variable `h1` font-size and margin within `section` and `article`
   * contexts in Firefox 4+, Safari, and Chrome.
   */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
   * Address styling not present in IE 8/9.
   */
mark {
  background: #ff0;
  color: #000;
}

/**
   * Address inconsistent and variable font size in all browsers.
   */
small {
  font-size: 80%;
}

/**
   * Prevent `sub` and `sup` affecting `line-height` in all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
     ========================================================================== */
/**
   * Remove border when inside `a` element in IE 8/9/10.
   */
img {
  border: 0;
}

/**
   * Correct overflow not hidden in IE 9/10/11.
   */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
     ========================================================================== */
/**
   * Address margin not present in IE 8/9 and Safari.
   */
figure {
  margin: 1em 40px;
}

/**
   * Address differences between Firefox and other browsers.
   */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
}

/**
   * Contain overflow in all browsers.
   */
pre {
  overflow: auto;
}

/**
   * Address odd `em`-unit font size rendering in all browsers.
   */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
     ========================================================================== */
/**
   * Known limitation: by default, Chrome and Safari on OS X allow very limited
   * styling of `select`, unless a `border` property is set.
   */
/**
   * 1. Correct color not being inherited.
   *    Known issue: affects color of disabled elements.
   * 2. Correct font properties not being inherited.
   * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
   */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
   * Address `overflow` set to `hidden` in IE 8/9/10/11.
   */
button {
  overflow: visible;
}

/**
   * Address inconsistent `text-transform` inheritance for `button` and `select`.
   * All other form control elements do not inherit `text-transform` values.
   * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
   * Correct `select` style inheritance in Firefox.
   */
button,
select {
  text-transform: none;
}

/**
   * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
   *    and `video` controls.
   * 2. Correct inability to style clickable `input` types in iOS.
   * 3. Improve usability and consistency of cursor style between image-type
   *    `input` and others.
   */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
   * Re-set default cursor for disabled elements.
   */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
   * Remove inner padding and border in Firefox 4+.
   */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
   * Address Firefox 4+ setting `line-height` on `input` using `!important` in
   * the UA stylesheet.
   */
input {
  line-height: normal;
}

/**
   * It's recommended that you don't attempt to style these elements.
   * Firefox's implementation doesn't respect box-sizing, padding, or width.
   *
   * 1. Address box sizing set to `content-box` in IE 8/9/10.
   * 2. Remove excess padding in IE 8/9/10.
   */
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
   * Fix the cursor style for Chrome's increment/decrement buttons. For certain
   * `font-size` values of the `input`, it causes the cursor style of the
   * decrement button to change from `default` to `text`.
   */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
   * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
   * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
   *    (include `-moz` to future-proof).
   */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
   * Remove inner padding and search cancel button in Safari and Chrome on OS X.
   * Safari (but not Chrome) clips the cancel button when the search input has
   * padding (and `textfield` appearance).
   */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
   * Define consistent border, margin, and padding.
   */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
   * 1. Correct `color` not being inherited in IE 8/9/10/11.
   * 2. Remove padding so people aren't caught out if they zero out fieldsets.
   */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
   * Remove default vertical scrollbar in IE 8/9/10/11.
   */
textarea {
  overflow: auto;
}

/**
   * Don't inherit the `font-weight` (applied by a rule above).
   * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
   */
optgroup {
  font-weight: bold;
}

/* Tables
     ========================================================================== */
/**
   * Remove most spacing between table cells.
   */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/* basic */
.pagenation {
  display: inline-block;
  text-align: center;
  font-size: 0;
  margin: 20px 0 30px;
  width: 100%;
}

.pagenation a {
  background: white;
}

.pagenation a,
.pagenation strong {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  line-height: 30px;
  color: #333;
  border: 1px solid #e2e2e2;
  width: 32px;
  height: 32px;
  margin: 0 2px;
  border-radius: 0;
}

.pagenation a.jump, .pagenation a.move,
.pagenation strong.jump,
.pagenation strong.move {
  font-size: 0;
}

.pagenation a.jump i, .pagenation a.move i,
.pagenation strong.jump i,
.pagenation strong.move i {
  font-size: 20px;
  line-height: 30px;
}

.pagenation a.jump,
.pagenation strong.jump {
  width: auto;
  background: #efefef;
  padding: 0 5px;
}

.pagenation a.jump i::before,
.pagenation strong.jump i::before {
  margin: 0;
  padding: 0;
  width: auto;
}

.pagenation .active,
.pagenation strong {
  background: #0096DF;
  color: white;
  font-weight: normal;
  border-color: transparent;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.btn-set {
  margin: 20px 0;
  text-align: center;
}

.btn-set a,
.btn-set button {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  line-height: 46px;
  background: #eee;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.btn-set a.main,
.btn-set button.main {
  background-color: #0096DF;
  border-color: transparent;
  color: #fff;
  font-size: 16px;
}

.btn-set a.sub,
.btn-set button.sub {
  background-color: #000046;
  border-color: transparent;
  color: #fff;
  font-size: 16px;
}

.btn-set a.small,
.btn-set button.small {
  line-height: 34px;
}

.btn-set a.p70,
.btn-set button.p70 {
  width: 200px;
}

.btn-set a.p30,
.btn-set button.p30 {
  width: 70px;
}

input,
select,
textarea {
  border-radius: 0;
  background-clip: padding-box;
  appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -webkit-appearance: none;
}

input::-ms-expand,
select::-ms-expand,
textarea::-ms-expand {
  display: none;
}

a {
  text-decoration: none;
  color: #444;
}

/*font*/
html {
  min-width: 320px;
  max-width: 100%;
  font-size: 14px;
  min-height: 100%;
}

body {
  font-family: "Noto Sans KR", "Malgun Gothic", "apple sd gothic neo", sans-serif;
  color: #333;
  min-width: 320px;
}

.sr-only {
  position: absolute !important;
  overflow: hidden !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  clip: rect(0, 0, 0, 0) !important;
  border: 0 !important;
}

.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}

/* style */
body {
  text-align: center;
  width: 100vw;
}

body .container {
  position: relative;
  display: inline-block;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  text-align: left;
  vertical-align: top;
  margin: 0 auto;
  padding: 0 20px;
  max-width: 800px;
}

body.site {
  /* header */
}

body.site header {
  position: fixed;
  z-index: 800;
  top: 0;
  left: 0;
  background: #fff;
  right: 0;
  height: 60px;
  line-height: 60px;
  background: #0096DF;
}

body.site header div.container button.toggle-menu,
body.site header div.container a.mypage {
  margin: 0;
  padding: 0;
  border: none;
  font-size: 0;
  display: inline-block;
  position: absolute;
  z-index: 1200;
  background: none;
  left: 20px;
  top: 12px;
  outline: none;
}

body.site header div.container button.toggle-menu.mypage,
body.site header div.container a.mypage.mypage {
  left: auto;
  right: 20px;
}

body.site header div.container button.toggle-menu i,
body.site header div.container a.mypage i {
  font-size: 30px;
  color: #fff;
}

body.site header div.container h1 {
  text-align: center;
  margin: 0;
  font-size: 26px;
  font-weight: 900;
  color: #fff;
}

body.site header div.container h1 strong {
  font-weight: 900;
  color: #17405a;
}

body.site aside {
  position: absolute;
  display: none;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 999;
  overflow: hidden;
  text-align: left;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

body.site aside div.outline {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 0;
}

body.site aside button.close {
  position: absolute;
  left: 80%;
  border-radius: 0;
  top: 0;
  font-size: 0;
  padding: 0;
  border: none;
  width: 60px;
  height: 60px;
  background: none;
  color: #fff;
  background: #3f4d69;
}

body.site aside button.close i {
  font-size: 36px;
}

body.site aside.on {
  display: block;
  background: rgba(0, 0, 0, 0.6);
}

body.site aside.on div.outline {
  width: 80%;
  background: #fff;
  overflow: hidden;
}

body.site aside.on div.outline div.btn-set {
  font-size: 0;
}

body.site aside.on div.outline div.btn-set a {
  display: inline-block;
  font-size: 14px;
  width: 50%;
  padding: 0 20px;
  line-height: 60px;
  background: #2e3c58;
  color: #fff;
}

body.site aside.on div.outline div.btn-set a i {
  position: relative;
  top: 3px;
  margin-right: 4px;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.5);
}

body.site aside.on div.outline nav {
  margin: 10px 0 0;
}

body.site aside.on div.outline nav ul {
  margin: 0;
  padding: 20px;
  list-style: none;
}

body.site aside.on div.outline nav ul li a {
  display: inline-block;
  line-height: 46px;
  font-size: 16px;
  margin-bottom: 6px;
  color: #444;
  font-weight: 400;
}

body.site aside.on div.outline nav ul li a i {
  font-size: 26px;
  position: relative;
  top: 5px;
  margin-right: 10px;
}

body.site aside.on div.outline nav ul li a.on {
  color: #0096DF;
}

body.site div#content {
  margin-top: 60px;
  text-align: left;
}

body.site div#content section.amount {
  background: #0085ce;
  padding: 10px 0;
  color: #fff;
  text-align: center;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

body.site div#content section.amount strong {
  color: #ffe27e;
}

body.site div#content section.amount a {
  display: inline-block;
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
  border-radius: 10px;
  padding: 0 10px;
  margin: 0 0 0 10px;
  line-height: 28px;
}

body.site div#content section.login {
  text-align: center;
}

body.site div#content section.login div.container h2 {
  text-align: center;
  margin: 30px 0;
  font-size: 26px;
}

body.site div#content section.login div.container fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

body.site div#content section.login div.container fieldset input[type="text"],
body.site div#content section.login div.container fieldset input[type="password"] {
  width: 100%;
  height: 42px;
  margin-bottom: 6px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0 10px;
  background: #f4f4f4;
  outline: none;
}

body.site div#content section.login div.container fieldset button {
  width: 100%;
  height: 42px;
  margin-bottom: 6px;
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 0 10px;
  background: #19435f;
  color: #fff;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

body.site div#content section.login div.container fieldset button.kakao {
  color: #222;
  background: url("../images/kakao_login.png") no-repeat #fee500 center/auto 100%;
  margin-top: 20px;
}

body.site div#content section.login div.container div.tools {
  background: #efefef;
  padding: 20px;
  margin: 0 0 40px;
  text-align: center;
  border-radius: 5px;
}

body.site div#content section.login div.container div.tools a {
  display: inline-block;
  margin: 0 10px;
}

body.site div#content section.agree {
  text-align: center;
}

body.site div#content section.agree div.container h2 {
  text-align: center;
  margin: 30px 0;
  font-size: 26px;
}

body.site div#content section.agree div.container h3 {
  font-size: 18px;
  font-weight: 600;
  margin: 0 0 10px;
}

body.site div#content section.agree div.container div.text-box {
  border: 1px solid #ccc;
  background: #f4f4f4;
  height: 120px;
  padding: 20px;
  overflow-y: scroll;
}

body.site div#content section.agree div.container input[type="checkbox"] {
  display: none;
}

body.site div#content section.agree div.container label {
  display: block;
  padding: 10px 0 20px;
  font-weight: 600;
}

body.site div#content section.agree div.container label::before {
  content: "";
  display: inline-block;
  position: relative;
  top: 4px;
  margin-right: 4px;
  width: 14px;
  height: 14px;
  background: #ccc;
  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 7px;
}

body.site div#content section.agree div.container input:checked + label::before {
  background: #0096DF;
}

body.site div#content section.member {
  text-align: center;
}

body.site div#content section.member div.container h2 {
  text-align: center;
  margin: 30px 0;
  font-size: 26px;
}

body.site div#content section.member div.container h3 {
  font-size: 18px;
  font-weight: 600;
  margin: 0 0 10px;
}

body.site div#content section.member div.container p.info {
  margin: 0 0 20px;
  padding: 20px;
  background: #f4f4f4;
  text-align: center;
  border-radius: 5;
  border: 1px solid #efefef;
  border-radius: 5px;
}

body.site div#content section.member div.container p.info span {
  display: block;
  color: #0096DF;
}

body.site div#content section.member div.container dl {
  margin: 0 0 20px;
  padding: 0;
}

body.site div#content section.member div.container dl dt {
  font-weight: 400;
  margin: 16px 0 8px;
}

body.site div#content section.member div.container dl dd {
  margin: 0;
}

body.site div#content section.member div.container dl dd input[type="text"],
body.site div#content section.member div.container dl dd input[type="password"] {
  width: 100%;
  height: 42px;
  font-size: 14px;
  margin-bottom: 6px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0 10px;
  background: #f4f4f4;
  outline: none;
}

body.site div#content section.member div.container dl dd.check input {
  width: calc(100% - 100px);
  border-radius: 5px 0 0 5px;
  border-right: none;
}

body.site div#content section.member div.container dl dd.check button {
  background: #333;
  width: 100px;
  height: 42px;
  color: #fff;
  border: none;
  border-radius: 0 5px 5px 0;
}

body.site div#content section.main {
  text-align: center;
  padding: 30px 0;
}

body.site div#content section.main div.container div.f-box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 140px 140px 140px;
      grid-template-rows: 140px 140px 140px;
  gap: 10px;
}

body.site div#content section.main div.container div.f-box div.big {
  position: relative;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
  background: url("../images/main.png") no-repeat center/cover;
  -webkit-box-shadow: 0 3px 5px 1px rgba(0, 0, 0, 0.25);
  box-shadow: 0 3px 5px 1px rgba(0, 0, 0, 0.25);
  color: #fff;
}

body.site div#content section.main div.container div.f-box div.big::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
}

body.site div#content section.main div.container div.f-box div.big h3 {
  position: relative;
  font-size: 30px;
  text-align: center;
  font-weight: 900;
  margin: 46px 0 40px;
}

body.site div#content section.main div.container div.f-box div.big h3 small {
  font-size: 14px;
  display: block;
  margin: 10px 0 0;
}

body.site div#content section.main div.container div.f-box div.big h3 small span {
  display: block;
  font-weight: 400;
}

body.site div#content section.main div.container div.f-box div.big a {
  position: relative;
  display: block;
  width: 90px;
  text-align: center;
  line-height: 36px;
  border-radius: 36px;
  margin: 0 auto;
  color: #fff;
  border: 1px solid #fff;
}

body.site div#content section.main div.container div.f-box div.small a {
  display: inline-block;
  width: 100%;
  height: 100%;
  background: #ccc;
  text-align: center;
  color: #fff;
  border: 1px solid transparent;
  -webkit-box-shadow: 0 3px 5px 1px rgba(0, 0, 0, 0.25);
  box-shadow: 0 3px 5px 1px rgba(0, 0, 0, 0.25);
}

body.site div#content section.main div.container div.f-box div.small a i {
  display: block;
  margin: 30px 0 10px;
  font-size: 56px;
}

body.site div#content section.main div.container div.f-box div.small.b1 a {
  background: #fd5744;
}

body.site div#content section.main div.container div.f-box div.small.b2 a {
  background: #f1961a;
}

body.site div#content section.main div.container div.f-box div.small.b3 a {
  background: #fff;
  color: #0096DF;
  border-color: #0096DF;
}

body.site div#content section.main div.container div.f-box div.small.b4 a {
  background: #00a164;
}

body.site div#content section.main div.container div.f-box div.small.b5 a {
  background: #009999;
}

body.site div#content section.account {
  text-align: center;
}

body.site div#content section.account div.container div.cardinfo {
  position: relative;
  background-color: #033d3a;
  background: -webkit-gradient(linear, left top, left bottom, from(#033d3a), color-stop(#051f41), to(#051f41));
  background: linear-gradient(to bottom, #033d3a, #051f41, #051f41);
  height: 60vw;
  max-height: 300px;
  max-width: 460px;
  border-radius: 20px;
  margin: 30px auto 10px;
  border-bottom: 5px solid rgba(255, 255, 255, 0.3);
  color: #fff;
}

body.site div#content section.account div.container div.cardinfo h3 {
  position: absolute;
  left: 20px;
  top: 36px;
  font-size: 36px;
  margin: 0;
  opacity: .6;
}

body.site div#content section.account div.container div.cardinfo p.cash {
  position: absolute;
  left: 130px;
  right: 20px;
  top: 44px;
  margin: 0;
  padding: 10px 0;
  text-align: center;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  font-size: 15px;
  word-break: keep-all;
}

body.site div#content section.account div.container div.cardinfo p.cash strong {
  color: #f1961a;
}

body.site div#content section.account div.container div.cardinfo p.number {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 60px;
  margin: 0;
  font-size: 24px;
  text-align: center;
  font-weight: 900;
}

body.site div#content section.account div.container div.cardinfo p.number span {
  padding-left: 5px;
}

body.site div#content section.account div.container div.cardinfo p.name {
  position: absolute;
  left: 30px;
  bottom: 10px;
  font-size: 14px;
}

body.site div#content section.account div.container div.cardinfo p.date {
  position: absolute;
  right: 30px;
  bottom: 10px;
  font-size: 14px;
}

body.site div#content section.account div.container h3 {
  font-size: 18px;
  font-weight: 600;
  margin: 0 0 10px;
}

body.site div#content section.account div.container div.chart {
  background: #ccc;
  min-height: 160px;
  margin-bottom: 20px;
}

body.site div#content section.account div.container div.sort {
  font-size: 0;
}

body.site div#content section.account div.container div.sort span.select-outline {
  display: inline-block;
  position: relative;
  vertical-align: top;
  width: calc(50% - 5px);
}

body.site div#content section.account div.container div.sort span.select-outline:nth-of-type(1) {
  margin-right: 10px;
}

body.site div#content section.account div.container div.sort span.select-outline select {
  appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -webkit-appearance: none;
  width: 100%;
  font-size: 14px;
  display: inline-block;
  padding: 0 30px 0 10px;
  vertical-align: top;
  outline: none;
  border: 1px solid #ccc;
  height: 36px;
  border-radius: 5px;
  margin: 0;
}

body.site div#content section.account div.container div.sort span.select-outline select::-ms-expand {
  display: none;
}

body.site div#content section.account div.container div.sort span.select-outline select.main {
  border-color: #0096DF;
}

body.site div#content section.account div.container div.sort span.select-outline select:focus, body.site div#content section.account div.container div.sort span.select-outline select:hover {
  border-color: #ccc;
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
}

body.site div#content section.account div.container div.sort span.select-outline::before, body.site div#content section.account div.container div.sort span.select-outline::after {
  content: "";
  position: absolute;
  top: 17px;
  display: block;
  width: 8px;
  height: 1px;
  background: #222;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

body.site div#content section.account div.container div.sort span.select-outline::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  right: 12px;
}

body.site div#content section.account div.container div.sort span.select-outline::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  right: 6px;
}

body.site div#content section.account div.container div.sort span.select-outline:focus-within::before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

body.site div#content section.account div.container div.sort span.select-outline:focus-within::after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

body.site div#content section.account div.container ul.mylist {
  list-style: none;
  margin: 20px 0;
  padding: 0;
  border-top: 1px solid #ccc;
}

body.site div#content section.account div.container ul.mylist li {
  position: relative;
  border-bottom: 1px solid #ccc;
  padding: 14px 140px 14px 40px;
}

body.site div#content section.account div.container ul.mylist li p.logo {
  margin: 0;
  position: absolute;
  left: 5px;
  top: 16px;
}

body.site div#content section.account div.container ul.mylist li h4 {
  margin: 0;
  font-size: 16px;
}

body.site div#content section.account div.container ul.mylist li h4 small {
  display: block;
  font-weight: 400;
  font-size: 12px;
  color: #0096DF;
}

body.site div#content section.account div.container ul.mylist li p.price {
  position: absolute;
  right: 0;
  top: 14px;
  font-size: 18px;
  margin: 0;
  font-weight: 900;
  color: #fd5744;
}

body.site div#content section.account div.container ul.mylist li i {
  font-size: 12px;
  font-style: normal;
  position: absolute;
  right: 0;
  bottom: 14px;
}

body.site div#content section.board-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

body.site div#content section.board-list ul li {
  border-bottom: 1px solid #ccc;
}

body.site div#content section.board-list ul li a {
  display: block;
  padding: 20px;
}

body.site div#content section.board-list ul li a h3 {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
  color: #000;
}

body.site div#content section.board-list ul li a h3 span {
  display: block;
}

body.site div#content section.board-list ul li a h3 small {
  font-weight: 400;
  font-size: 14px;
  color: #999;
}

body.site div#content section.board-view {
  border-bottom: 1px solid #ccc;
}

body.site div#content section.board-view div.board-head {
  padding: 20px;
  border-bottom: 1px solid #ccc;
}

body.site div#content section.board-view div.board-head h3 {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
  color: #000;
}

body.site div#content section.board-view div.board-head h3 span {
  display: block;
}

body.site div#content section.board-view div.board-head h3 small {
  font-weight: 400;
  font-size: 14px;
  color: #999;
}

body.site div#content section.board-view div.text {
  padding: 20px;
}

body.site div#content section.board-view div.text p.img {
  text-align: center;
}

body.site div#content section.board-view div.text p.img img {
  max-width: 100%;
}

body.site div#content section.board-view div.text p {
  margin: 0 0 4px;
}

body.site div#content section.board-view ul.file {
  list-style: none;
  margin: 0;
  padding: 0 20px 20px;
}

body.site div#content section.board-view ul.file li a {
  color: #0096DF;
}

body.site div#content section.board-write label {
  display: block;
  color: #000;
  padding: 0 0 4px;
}

body.site div#content section.board-write div.board-head {
  padding: 20px;
}

body.site div#content section.board-write div.board-head input {
  height: 36px;
  width: 100%;
  border: 1px solid #ccc;
}

body.site div#content section.board-write div.text {
  padding: 0 20px 20px;
}

body.site div#content section.board-write div.text textarea {
  height: 200px;
  width: 100%;
  border: 1px solid #ccc;
}

body.site div#content section.board-write ul.file,
body.site div#content section.board-write ul.links {
  list-style: none;
  margin: 10px 20px;
  padding: 10px;
  border: 1px solid #ccc;
  background: #efefef;
}

body.site div#content section.board-write ul.file li,
body.site div#content section.board-write ul.links li {
  margin-bottom: 10px;
}

body.site div#content section.board-write ul.file li:last-child,
body.site div#content section.board-write ul.links li:last-child {
  margin-bottom: 0;
}

body.site div#content section.board-write ul.file li input,
body.site div#content section.board-write ul.links li input {
  width: 100%;
  border: 1px solid #ccc;
  height: 32px;
}

body.site div#content article.board-btn {
  text-align: center;
  padding: 20px 0;
}

body.site div#content article.board-btn a {
  display: inline-block;
  margin: 0 2px;
  border: 1px solid #ccc;
  line-height: 36px;
  width: 100px;
}

body.site div#content article.board-btn a.main {
  background: #0096DF;
  color: #fff;
  border-color: transparent;
}

body.site footer#footer {
  font-size: 0;
  padding: 20px;
  background: #051b2a;
  color: rgba(255, 255, 255, 0.6);
}

body.site footer#footer > a {
  display: inline-block;
  line-height: 30px;
  background: #000008;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  width: calc(50% - 10px);
  margin-bottom: 20px;
}

body.site footer#footer > a:first-child {
  margin-right: 10px;
}

body.site footer#footer p.text,
body.site footer#footer p.copyright {
  font-size: 12px;
  margin: 0 0 2px;
  word-break: keep-all;
}

body.site footer#footer p.copyright {
  margin-top: 16px;
}
/*# sourceMappingURL=style.css.map */